.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #ccc;
    margin-top: 20px;
}

.table-header,
.table-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 8px;
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ccc;
}

.table-button {
    padding: 8px;
    text-align: center;
}

.table-button button {
    padding: 5px 10px;
    cursor: pointer;
}

/** Starter Theme Landing Page **/
.aios-starter-theme-landing-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(images/landingpage-bg.jpg) no-repeat center center transparent;
    z-index: 99;
    color: #ffff;
    text-align: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;

}

.landing-page-wrapper {
    width: 100%;
    height: 84%;
}

.aios-landing-holder {
    display: inline-block;
    vertical-align: middle;
}

.landing-page-wrapper:after {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.landing-page-logo {
    padding: 20px 0;
}

.landing-page-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 117px;
}

.landing-page-logo a:hover {
    color: #fff;
    text-decoration: none;
}

.landing-page-slogan {
    width: 100%;
    background: url(images/landingpage-border-shadow.png) no-repeat center bottom transparent;
    padding-bottom: 40px;
    background-size: 100%;
}

.landing-page-slogan h2 {
    font-size: 45px;
    font-weight: 600;
}

.landing-page-slogan p {
    font-size: 26px;
    font-weight: 300;
    padding: 10px 0;
}

.landing-page-phone {
    width: 100%;
    text-align: center;
}

.landing-phone {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
    padding: 32px 0;
}

.landing-phone span {
    font-weight: 300;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;

}

.landing-phone a {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 207px;
    height: 33px;
    -webkit-border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    -moz-border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #fff;
    font-size: 20px;
    line-height: 29px;
}

.landing-phone a:hover {
    text-decoration: none;
    color: #fff;
}

.landing-phone a i {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.landing-page-footer {
    background: #076e83;
    width: 100%;
    height: 140px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.landing-page-footer .cws-media {
    margin: 12px 0 22px;
}

.landing-page-footer .cws-media a {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.landing-page-footer .cws-media a:hover {
    text-decoration: none;
}

.landing-page-footer .cws-media a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.landing-page-footer .cws-title {
    display: block;
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-width: 559px;
    margin: 10px auto;
}

.landing-page-footer .cws-title span {
    display: inline-block;
    position: relative;
    font-size: 0.625em;
    color: #FFF;
    text-transform: uppercase;
    padding: 0 11px;
}

.landing-page-footer .cws-title span:before,
.landing-page-footer .cws-title span:after {
    content: '';
    display: inline-block;
    background: #329db3;
    width: 1140px;
    height: 1px;
    position: absolute;
    top: 50%;
}

.landing-page-footer .cws-title span:before {
    right: 100%;
}

.landing-page-footer .cws-title span:after {
    left: 100%;
}

.landing-page-footer .cws-media a:hover::after {
    transform: scale(1.2);
    opacity: 1;
}

.landing-page-footer .cws-media a.cws-facebook {
    background: #4d6baa;
}

.landing-page-footer .cws-media a.cws-facebook:after {
    border-color: #4d6baa;
}

.landing-page-footer .cws-media a.cws-twitter {
    background: #4fc6f8;
}

.landing-page-footer .cws-media a.cws-twitter:after {
    border-color: #4fc6f8;
}

.landing-page-footer .cws-media a.cws-google-plus {
    background: #dc4e41;
}

.landing-page-footer .cws-media a.cws-google-plus:after {
    border-color: #dc4e41;
}

.landing-page-footer .cws-media a.cws-youtube {
    background: #f00;
}

.landing-page-footer .cws-media a.cws-youtube:after {
    border-color: #f00;
}

.landing-page-footer .cws-media a.cws-linkedin {
    background: #007bb6;
}

.landing-page-footer .cws-media a.cws-linkedin:after {
    border-color: #007bb6;
}

.landing-page-footer .cws-media a.cws-pinterest {
    background: #cb2027;
}

.landing-page-footer .cws-media a.cws-pinterest:after {
    border-color: #cb2027;
}

.landing-page-footer .cws-media a.cws-instagram {
    background: #3f729b;
}

.landing-page-footer .cws-media a.cws-instagram:after {
    border-color: #3f729b;
}

.landing-page-footer .cws-media a.cws-yelp {
    background: #be2f25;
}

.landing-page-footer .cws-media a.cws-yelp:after {
    border-color: #be2f25;
}

.landing-page-footer .cws-media a i {
    font-size: 23px;
    color: #FFF;
    line-height: 40px;
}